body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cards-container {
    background-color: rgb(224, 160, 231);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.card {
    background-color: white;
    border: 1px solid #ddd; /* Рамки */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 10px;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.card button:hover {
    background-color: #ae12d4; /* Изменение цвета при наведении */
}